*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(12, 12, 13);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
}
img{
    margin: auto;
    display: block;
}
.apertado{
    color: gray;
}
.cabecalho h1{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    padding: 10%;
    padding-bottom: 2%;
    padding-top: 0%;
    margin-top: 7%;
    font-size: larger;
}
.cabecalho img{
    text-align: center;
    padding-bottom: 0%;
    margin-top: 5%;
    margin-bottom: -5%;
}
.cabecalho ul{
    display: flex;
    list-style: none;
    padding-left: 3%;
}
.cabecalho ul li{
    padding-left: 1%;
    margin-top: 2%;
    display: inline;
}
.cabecalho ul li a{
    color: white;
    padding-top: 3%;
    font-family: Arial, Helvetica, sans-serif;
    display: inline;
}
.bananeirasburguer{
    text-align: center;
    font-size: 300%;
    margin-top: 3%;
}
.celebreossentidos{
    text-align: center;
    font-size: large;
    margin-top: 3%;
}
.main{
    position: relative;
}
.main p{
    text-align: center;
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 3%;
}
.main a{
    text-align: center;
    border: 2px;
}
.main a p{
    color: white;
    border-style: solid;
    padding: 1%;
    margin-left: 41%;
    margin-right: 41%;
    margin-bottom: 10%;
}
.doiscarasconversando{
    border-style: solid;
    border-radius: 100%;
    border-color: rgb(12, 12, 13);
}
.sobre{
    font-size: 200%;
    text-align: center;
    margin-top: 10%;
}
.cimaparabaixo{
    margin-top: 8%;
    width: 40%;
    margin-right: 20%;
    display: flex;
}
.horarios{
    background-color: rgb(25, 25, 30);
    margin-left: 10%;
    margin-right: 0%;
    margin-top: -25%;
    margin-bottom: 10%;
    position: absolute;
    width: 38%;
    height: 5.6%;
}
.horarios h1{
    text-align: left;
    font-size: 120%;
    margin-right: 40%;
    padding-left: 10%;
    padding-top: 4%;
}
.horarios h2{
    font-size: 110%;
    padding-left: 10%;
    padding-top: 5%;
    text-align: left;
    margin-bottom: 5%;
}
.horarios p{
    text-align: left;
    margin-left: 10%;
    padding-left: -20%;
}
.nossacomida h1{
    font-size: 250%;
    text-align: center;
    margin-top: 10%;
}
.picanha img{
    margin-top: 8%;
    width: 45%;
    margin-right: 10%;
    display: flex;
}
.picanha h2{
    text-align: left;
    font-size: 130%;
    margin-top: -25%;
    margin-left: 6%;
    margin-bottom: 0%;
    padding-bottom: 0%;
}
.picanha p{
    text-align: left;
    font-size: 110%;
    margin-left: 6%;
    margin-right: 55%;
    margin-top: 2.5%;
    line-height: 140%;
}
.hamburger img{
    margin-top: 23%;
    margin-left: 10%;
    width: 45%;
    display: flex;
}
.hamburger h1{
    text-align: right;
    font-size: 130%;
    margin-top: -25%;
    margin-right: 6%;
    margin-bottom: 0%;
    padding-bottom: 0%;
}
.hamburger p{
    text-align: right;
    font-size: 110%;
    margin-left: 60%;
    margin-right: 6%;
    margin-top: 2.5%;
    line-height: 140%;
}
.contato{
    margin-top: 22%;
}
.contato img{
    background-color: rgb(25, 25, 30);
    display: flex;
    padding-left: 50%;
}
.contato h1{
    text-align: center;
    margin-right: 45%;
    margin-top: -20%;
}
.contato p{
    text-align: center;
    margin-left: -25%;
    
}
.contato span p{
    margin-top: 1%;
    margin-bottom: 0%;
}
footer{
    background-color: rgb(25, 25, 30);
    text-align: center;
    margin-top: 15%;
    padding: 1%;
    font-size: 90%;
}