body{
    background-attachment: fixed;
}
a{
    text-decoration: none;
}
.cabecalho{
    padding: 1%;
    text-align: center;
    padding-bottom: 14%;
}
.cabecalho1{
    float: left;
    color: black;
    background-color: white;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    display: inline;
    padding: 1%;
    margin-top: -1%;
}
.cabecalho2{

    color: black;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    display: inline;
    padding: 1%;
}
.cabecalho3{
    float: right;
    color: black;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    display: inline;
    padding: 1%;
    margin-top: -1% ;
}

.imagem1{
    text-align: left;
    width: 63%;
    margin-left: -14%;
    margin-top: 0%;
    display: inline;
    float: left;
}
.logocs2{
    margin-top:13%;
    width: 43%;
    margin-left: 2%;
}
.pt2{
    background-color: rgba(59, 65, 92, 0.7);
    margin-top: 33.2%;
    margin-right: -0.65%;
    margin-left: -0.65%;
    margin-bottom: -0.65%;
    padding-top: 10%;
    padding-bottom:10%;
}
.mainpt2{
    background-color: #4d526a;
    margin-right: 25%;
    margin-left: 25%;
    font-family: Arial, Helvetica, sans-serif;
    color: WHITE;
    text-align: center;

}

.textopt2 h1{
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 200%;
    line-height: 100%;
}
.textopt2{
    text-align: justify;
    line-height: 150%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 112%;
}
.pt3{
    padding-top: -10%;
}
.mainpt3{
    background-color: rgb(238, 238, 238);
    margin-left: 7.3%;
    margin-right: 7.3%;
    margin-top: 11.5%;
    padding-bottom: 15%;
}
.video0pt3{
    text-align: center;
    width: 100%;
}
.video1pt3{
    width: 40%;
    margin-left: 10.5%;
    display: inline;
}
.mainpt3 h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 300%;
    margin-bottom: -1%;
}
.jogomudou{
    text-align:justify;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20%;
    padding-right: 20%;
    margin-bottom: 7%;
    font-size: 125%;
}
.jogabilidadet{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 120%;
    display: inline;
    margin-right: 33%;
    margin-top: 7%;
    float:  right ;
}
#jogabilidade{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    margin-top: -25%;
    margin-left: 56.2%;
    margin-right: 10%;
    font-family: 160%;
    line-height: 150%;
    color: rgb(114, 114, 114);
}
.video2pt3{
    width: 40%;
    margin-left: 48%;
    margin-top: 15%;
    display: inline;
}
.expandat{
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 34%;
    display: inline;
    float: left;
    font-size: 140%;
    margin-top: -25%;
    margin-left: 7%;
}
.expanda{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    margin-top: -19%;
    margin-left: 7%;
    margin-right: 60%;
    font-family: 160%;
    line-height: 150%;
    color: rgb(114, 114, 114);
}
.video3pt3{
    width: 40%;
    margin-left: 10.5%;
    margin-top: 7.5%;
    display: inline;
}
.reaget{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 130%;
    display: inline;
    margin-right: 27%;
    margin-top: 16%;
    float:  right ;    
}
.reage{
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    margin-top: -20%;
    margin-left: 55.4%;
    margin-right: 10%;
    font-family: 160%;
    line-height: 160%;
    font-size: 120%;
    color: rgb(114, 114, 114);
}
.pt4{
    margin-top: 10%;
    margin-bottom: 10%;
}

.mainpt4{
    background-color: rgb(255, 155, 1, 0.7);
    margin-right: -0.65%;
    margin-left: -0.65%;
    padding-top: 10%;
    padding-bottom: 10%;

}
.textopt4{
    background-color: #ff9b01;
    margin-left: 8%;
    margin-right: 8%;
    padding-bottom: 5%;
    margin-bottom: -1.5%;
}
.video0pt4{
    text-align: center;
    width: 100%;
}
.textopt4 h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 300%;
    text-align: center;
    margin-top: 5%;
}
.textopt4 h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 145%;
    text-align: center;
    margin-top: -2%;
    margin-left: 16%;
    margin-right: 13%;
}
.textopt4 p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    margin-left: 20.5%;
    margin-right: 20.5%;
    line-height: 150%;
    font-size: 123%;
}
.admiraveis{
    text-align: center;
    width: 100%;
}
.aprimoramento{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 14%;
    margin-right: 14%;
    margin-top: 1%;
    margin-bottom: 5%;
    font-size: 154.5%;
    text-align: center;
}
.mainpt5{
    background-color: #eeeeee;
    margin-left: 7.3%;
    margin-right: 7.3%;
    padding-bottom: 11.55%;
    margin-bottom: 7.5%;
    margin-top: 10%;
}
.mainpt5 h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 300%;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 0%;
}
.mainpt5 span p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
    margin-top: -3%;
    margin-right: 17%;
    margin-left: 17%;
}
.main2pt5{
    background-color: #d0d0d0;
    margin-right: 9%;
    margin-left: 9%;
    margin-bottom: 4%;
    padding-bottom: 5%;
}
.main2pt5 h2{
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    margin-left: -1%;
    padding: 5%;
    padding-top: 4%;
    padding-bottom: 0%;
    font-size: 130%;
}
.reformulado{
    font-size: 125%;
}
.main2pt5 p{
    color: rgb(114, 114, 114);
    margin-left: 4%;
    font-family: Arial, Helvetica, sans-serif;
}
.strong{
    font-size: 80%;
}
.fundo_overpass{
    text-align: center;
    margin-top: 1%;
    margin-left: 4.5%;
    margin-right: 4.5%;
    margin-bottom: 1%;
    width: 91%;
}
.main2pt5 span p{
    color: black;
    font-size: small;
}
.main2pt5 h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90%;
    margin-left: 15%;
    margin-right: 0%;
    display: inline;
}
.main2pt5 span h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90%;
    margin-left: 5.5%;
    display: inline;
}
.ferramentasrc2 h2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 140%;
    padding-top: 2%;
}
.ferramentasrc2 p{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 130%;
    margin-left: 20%;
    margin-right: 20%;
    line-height: 140%;
    margin-top: -1%;
}
.videopt5{
    margin-top: 3%;
    margin-left: 11.5%;
    margin-right: 11.5%;
    width: 75%;
}
.pt6{
    background-color: rgba(59, 65, 92, 0.7);;
    margin-right: -0.65%;
    margin-left: -0.65%;
    margin-top: 8%;
    padding-top: 6.8%;
    padding-bottom: 1.5%;
}
.mainpt6{
    background-color: #4d526a;
    margin-left: 7.3%;
    margin-right: 7.3%;
    padding-bottom: 11.5%;
    margin-bottom: 7.5%;
    font-family: Arial, Helvetica, sans-serif;
    color: WHITE;
    text-align: center;
    filter: opacity(1);
}
.mainpt6 h1{
    text-align: center;
    padding-top: 5%;
    padding-left: 5%;
    padding-bottom: -3%;
    padding-right: 5%;
    margin-bottom: -1%;
    font-size: 310%;
    line-height: 100%;
}
.mainpt6 p{
    text-align: justify;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 130%;
    line-height: 120%;
}
.skins{
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    width: 76%;
}
.generico{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-left: 22%;
    margin-right: 22%;
    padding-top: -20%;
    margin-top: -3%;
}
.altadefinicaot{
    text-align: center;
    padding-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 350%;
    margin-bottom: -2%;
    padding: 3%;
}
.mainpt7{
    background-color: rgb(238, 238, 238);
    margin-left: 11.6%;
    margin-right: 11.6%;
    padding-bottom: 15%;
}
.altadefinicao{
    margin-left: 20%;
    margin-right: 20%;
    font-size: 135%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    line-height: 120%;
}
.jogabilidadet2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 140%;
    display: inline;
    margin-right: 22%;
    margin-top: 9%;
    margin-left: 0%;
    margin-bottom: -20%;
    float:  right ;
}
#jogabilidade2{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    margin-top: -27.5%;
    margin-left: 55.6%;
    margin-right: 10%;
    font-family: 160%;
    font-size: 115%;
    line-height: 140%;
    color: rgb(114, 114, 114);
}
.reaget2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 140%;
    display: inline;
    margin-right: 16%;
    margin-top: 18%;
    float:  right ;    
    margin-bottom: -20%;
}
.reage2{
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    margin-top: -26%;
    margin-left: 55.7%;
    margin-right: 10%;
    font-family: 160%;
    font-size: 120%;
    line-height: 140%;
    color: rgb(114, 114, 114);
}
.pt8{
    padding-top: 10%;
}
.mainpt8{
    background-color: rgb(255, 155, 1, 0.7);
    padding-top: 9%;
    padding-bottom: 10%;
    margin-right: -0.65%;
    margin-left: -0.65%;
    margin-bottom: 10%;

}
.textopt8{
    background-color: #ff9b01;
    margin-left: 7.7%;
    margin-right: 7.7%;
    padding-bottom: 10%;
    padding-top: 1%;
    margin-bottom: -1.5%;
}
.video0pt8{
    text-align: center;
    width: 100%;
}
.textopt8 h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 300%;
    text-align: center;
    margin-top: 3%;
}
.textopt8 h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 145%;
    text-align: center;
    margin-right: 12%;
    margin-top: -2%;
    margin-left: 12.5%;
}
.textopt8 p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    margin-left: 20.5%;
    margin-right: 20.5%;
    line-height: 145%;
    font-size: 130%;
}
.screenshot4{
    margin-left: 9.2% ;
    text-align: center;
    width: 81.5%;

}
.mainpt9{
    margin-left: 7.7%;
    margin-right: 7.7%;
    background-color:  #eeeeee;


}
.mainpt9 h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 300%;
    padding-top: 6%;
    margin-bottom: 0%;
    padding-bottom: 0%;
}
.mainpt9 p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    font-size: 130%;
    line-height: 150%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 1%;
    padding-bottom: 8%;
    margin-bottom: 10%;
}
footer{
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 2%;
    padding-left: 18%;
    padding-right: 18%;
    text-align: center;
    margin: -0.65%;
}
.expandat2{
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 34%;
    display: inline;
    float: left;
    font-size: 140%;
    margin-top: -25%;
    margin-left: 7%;
}
.expanda2{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    margin-top: -22%;
    margin-left: 7%;
    margin-right: 60%;
    font-family: 160%;
    font-size: 119%;
    line-height: 120%;
    color: rgb(114, 114, 114);
}